body {
    background: #262A10;
}
.logo{
    width: 180px;
    height: 160px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.logo:hover{
    width: 190px;
    height: 170px;
    background: rgba(255, 255, 255, 0.075);   
}

h1 {
    text-decoration: none;
    color:white;   
}

nav {
    background-image: url(https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    padding:10px;
    display:flex;
    justify-content: center;
    
}

nav a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 200%;
    padding: 15px 50px;
    display: inline-block;
}

nav a:hover{
    background: rgba(255, 255, 255, 0.164);

}

.hero {
    margin-top: 20px;
    width: 100vw;
    height: auto;
    
    
}

article h1{
    text-align: center;
    text-decoration: underline;
    color: white;
}

article p{
    text-align: justify;
    color: white;
    
}
article{
    background: #283618;
}

footer{
    background-color: #283618;
    color:white;
    padding: 25px 50px;
    padding-top: 15px;
    margin-top: 200px;
}

footer p {
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;

}

.logo_f{
    width: 180px;
    height: 160px;
    position: absolute;
    margin-left: 450px;
    
}

.logo_f:hover{
    width: 190px;
    height: 170px;
    background: rgba(255, 255, 255, 0.075);   
}

.logoj{
    width: 100px;
    height: 100px;
    margin-left: 450px;
    margin-bottom: 20px;
    position: absolute;
}

.site{
    color:white;
    font-size: 150%;
    text-decoration: none;
    margin-right: 15px;
}

.site:hover{
    color: darkgoldenrod;
}

.contact{
    color: white;
    font-size: 150%;
    text-decoration: none;
}
.contact:hover{
    color: darkgoldenrod;
}