body {
    background: #262A10;
}
.logo{
    width: 240px;
    height: 210px;
    margin-left: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
nav {
    background-image: url(https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    padding:10px;
    display:flex;
    justify-content: center;
    
}

nav a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 200%;
    padding: 15px 50px;
    display: inline-block;
}

nav a:hover{
    background: rgba(255, 255, 255, 0.267);

}