
div.head {
    display:flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
}
img.whatsapp-button{
    flex-grow: 1;
    flex-shrink: 1;
    order: 2;
    width: 270px;
    height: 100px;
}

body {
    background: #262A10;
}
 img.logo{
    flex-grow: 1;
    flex-shrink: 1;
    order: 0;
    width: 180px;
    height: 160px;
    border-radius: 10px;
}
.logo:hover{
    width: 190px;
    height: 170px;
    background: rgba(255, 255, 255, 0.075);   
}
.h1 {
    flex-grow: 1;
    flex-shrink: 1;
    order:1;
    text-decoration: none;
    color:white;   
}

nav {
    background-image: url(https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    padding:10px;
    display:flex;
    justify-content: center;
    
}

nav a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 200%;
    padding: 15px 50px;
    display: inline-block;
}

nav a:hover{
    background: rgba(255, 255, 255, 0.164);

}

.hero {
    margin-top: 20px;
    width: 100vw;
    height: auto;
    
    
}

article h1{
    text-align: center;
    text-decoration: underline;
    color: white;
}

article p{
    text-align: justify;
    color: white;
    
}
article{
    background: #283618;
}

footer.footer {
    background-color: #283618;
    color:white;
    padding: 25px 50px;
    padding-top: 15px;
    margin-top: 200px;
}

.tw {
    width: 80px;
    height: 80px;
    
}
.fb{
    width: 80px;
    height: 80px;
}
.in{
    width: 80px;
    height: 80px; 
}

.logo_f{
    width: 180px;
    height: 160px;
    position: absolute;
    margin-left: 450px;
    border-radius: 10px;
}

.logo_f:hover{
    width: 190px;
    height: 170px;
    background: rgba(255, 255, 255, 0.075);   
}



.site{
    color:white;
    font-size: 150%;
    text-decoration: none;
    margin-right: 15px;
}

.site:hover{
    color: darkgoldenrod;
}

.contact{
    color: white;
    font-size: 150%;
    text-decoration: none;
}
.contact:hover{
    color: darkgoldenrod;
}

.derechos p{
    color: white;
    font-size: 20px;
    padding-top: 5px;
}
footer.derechos{
    margin: 100px 0px 0px 0px;
    background: #283618;
    display:flex;
    justify-content:center;
    
}
div.copy{
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 1;
    padding:15px 20px;
    
}

.logoj{
    flex-grow: 1;
    flex-shrink: 1;
    width: 100px;
    height: 100px;
}

