body {
    background: #262A10;
}
.logo{
    width: 240px;
    height: 210px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.logo:hover{
    background: rgba(255, 255, 255, 0.144);
}
h1 {
    text-decoration: none;
    color:white;    
}
nav {
    background-image: url(https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    padding:10px;
    display:flex;
    justify-content: center;
    
}

nav a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 200%;
    padding: 15px 50px;
    display: inline-block;
}

nav a:hover{
    background: rgba(255, 255, 255, 0.164);

}


.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fill,1fr);
    justify-content: center;
    margin-top: 50px;
    color:white;
   
}
.producto:hover{
    background: rgba(212, 109, 25, 0.267);
}

.producto{
    width: 300px;
    height: 300px;
}